<nz-layout>
  <nz-header>
    <div style="height: 80%;display: inline-block;line-height: 32px;margin: 0 auto;word-break: keep-all;">
    <span *ngIf="playerService.username == null" style="color: white">网梯估时系统</span>
    <span *ngIf="playerService.username != null " style="color: white">Hallo {{playerService.username}}! 欢迎来到网梯估时系统</span>
    <span *ngIf="playerService.roomId" style="color: white"> 当前房间号：{{playerService.roomId}}</span>
    </div>
  </nz-header>
  <nz-content>
    <app-set-username-modal></app-set-username-modal>
    <div class="container-fluid">
      <div nz-row style="margin-top: 5vh">
        <div nz-col nzXs="24" nzSm="24" nzMd="14" *ngIf="!playerService.cardValueIsShown">
          <app-vote-selection></app-vote-selection>
        </div>
        <div nz-col nzXs="24" nzSm="24" nzMd="14" *ngIf="playerService.cardValueIsShown">
          <app-result></app-result>
        </div>
        <div nz-col nzXs="24" nzSm="24" nzMd="10">
          <app-current-player-tag></app-current-player-tag>
        </div>
      </div>
    </div>
  </nz-content>
</nz-layout>
