<nz-card style="width:100%" nzHoverable nzTitle="当前估时状态" [nzExtra]="extraTemplate">
  <nz-list nzBordered nzHeader="------冲刺の伙伴们------" *ngIf="playerService.allPlayers">
    <nz-list-item *ngFor="let player of this.playerService.allPlayers">
      {{ player.name }}
      <nz-tag *ngIf="player.voteValue == 0" [nzColor]="'red'">我还没估时呢</nz-tag>
      <nz-tag *ngIf="player.voteValue != 0" [nzColor]="'green'">
        <tag *ngIf="playerService.username !== '管理员' && playerService.username === player.name" id="valuate_time">我估时 {{player.voteValue}} 小时</tag>
        <tag *ngIf="playerService.username !== '管理员' && playerService.username !== player.name" id="valuate_time">我已经估时了</tag>
        <tag *ngIf="playerService.username === '管理员'" id="valuate_time">此人估时为 {{player.voteValue}} 小时</tag>
      </nz-tag>
    </nz-list-item>
  </nz-list>
  <div *ngIf="playerService.username === '管理员'" style="margin-top: 2vh">
    <button nz-button nzType="primary" (click)="playerService.resetVotes()" style="margin-right: 2vh">新任务估时</button>
    <button nz-button nzType="danger" [disabled]="this.playerService.cardValueIsShown"
            (click)="playerService.showCards()" style="margin-right: 2vh"> 管理员点击查看估时结果
    </button>
    <button nz-button nzType="danger" (click)="playerService.resetGame()" style="margin-right: 2vh">重建房间</button>
  </div>
</nz-card>
<ng-template #extraTemplate>
</ng-template>
